<nav>
  <ul class="flex justify-start gap-4">
    <li>
      <%= active_link_to "Users management", admin_users_path %>
    </li>
  </ul>
</nav>

<nav>
  <ul class="flex justify-start gap-4">
    <li>
      <%= link_to "Good Job", good_job_path %>
    </li>
    <li>
      <%= link_to "Blazer", blazer_path %>
    </li>
    <li>
      <%= link_to "Performance", rails_performance_path %>
    </li>
  </ul>
</nav>
